@inherits LayoutComponentBase


<MudThemeProvider Theme="@theme">
</MudThemeProvider>
<MudDialogProvider></MudDialogProvider>
<MudSnackbarProvider></MudSnackbarProvider>
<div class="page">
    <div class="sidebar">
    </div>
    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private MudTheme theme = new MudTheme()
        {
            Palette = new Palette()
            {
                Primary = Colors.Orange.Accent1,
                Secondary = "#FFA500",
            },
        };
}
<style>
    body {
        background-color: #FFFFFF;
    }
</style>